
nav{
   padding: 10px;
   padding-bottom: 1.2em;
}

.logo img{
   width: 3em;
   height: 3em;
}

#nav-items{
   display: block;
   font-size: 0.8em;
}

.shapes-wrapper{
   flex-direction: column;
}

.about-wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

main{
   margin: 10px;
}

#name{
   margin-top: 0.5em;
   font-size: 6em;
}

.pfp {
   width: 90%;
}

.bio {
   width: 90%;
}

#hello{
   padding-bottom: 5px;
}

.photo-wrapper img{
   width: 15em;
}

#photo-intro{
   font-size: 1.4em;
   text-align: center;
   padding: 10px;
 }

 .img-wrapper{
   padding: 10px;
}

.img-wrapper img{
   width: 100%;
   padding: 10px;
}

