* {
   margin: 0;
   padding: 14px;
}

body {
   background-color: white;
   width: auto;
}

a {
   text-decoration: none;
}

p {
   font-size: 12px;
   margin-right: -15px;
}

h2 {
   text-align: center;
}

* {
   box-sizing: border-box;
}

body {
   display: flex;
   min-height: 100vh;
   margin: 0;
}

a {
   text-align: right;
}

header {
   background: white;
   height: 5vh;
   padding: 1em;
}

footer {
   background: white;
   height: 5vh;
   padding: 1em;
}

ul {
   list-style-type: none;
   margin: 10px;
   padding: 10px;
   border: 10px;
   width: 200px;
}

li a {
   display: block;
   color: #777676;
   padding: 2px 20px;
   text-decoration: none;
   font-size: 12px;
}

/* Change the link color on hover */
li a:hover {
   background-color: transparent;
}

img {
   margin-top: 90px;
   margin-left: 180px;
   padding: 20px;
}

/* Lord Vader Former Handle Annakin */
/* Link Visited Focus Hover Active */

a:link {
   text-decoration: none;
}

a:visited {
   color: #b8b3b3;
}

a:hover {
   text-decoration: none;
}

a:active {
   color: #676666;
   text-decoration: none;
}

.explanation {
   font-size: 14px;
   margin-top: -30px;
   margin-left: 100px;
}
